<div class="user-show-content">

  <div class="user-profile">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, crop: :fill, alt: "profil-picture", class: "user-profile-picture" %>
    <% else %>
      <%= image_tag "image_user_par_defaut.png", alt: "default-profil-picture", class: "user-profile-picture" %>
    <% end  %>

    <h1 class="user-name"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h1>

    <h5 class="user-txt-info"><i class="fa-regular fa-envelope" style="color: #1A4944;"></i> <%= current_user.email %></h5>
    <h5 class="user-txt-info"><i class="fa-solid fa-lock" style="color: #1A4944;"></i> ********</h5>

    <%= link_to "Changer mes identifiants", edit_user_registration_path, id: "btn-user-edit" %>

    <%= link_to "Me déconnecter", destroy_user_session_path, data: { turbo_method: :delete }, class: "profile_link_txt" %>
  </div>

</div>
