<%# <div class="dropdown"> %>
  <%# <button class="dropbtn"><%= question %>
  <%# </button> %>
  <%# <div class="dropdown-content"> %>
    <%# <p><%= answer %>
    <%# </p> %>
  <%# </div> %>
<%# </div> %>

<div class="QAbox_faq">
  <button class="basic-card faq-question-card" data-bs-toggle="collapse" data-bs-target="#demo-<%= index %>"><%= question %></button>
  <div id="demo-<%= index %>" class="collapse basic-card faq-answer-card"><%= answer %></div>
</div>
