<div class="basic-card banner">
    <div id="banner-img">
      <%= image_tag "logo.png", alt: "logo Easyway", height: 60 %>
      <%= image_tag "easyway_baseline.png", alt: "logo Easyway", height: 40 %>
    </div>
    <h3>L'APPLI BABY & KIDS FRIENDLY !</h3>
    <div id="banner-subtext">
      <p>Trouver des lieux baby & kids friendly</p>
      <p>n'a jamais été aussi facile</p>
    </div>
    <%= link_to "Trouver une activité", activities_path, class: "yellowbtn"  %>
</div>

<div class="basic-card home-card">
  <div class="home-card-line">
    <p>Mes Cool kids places préférées</p>
    <i class="fa-solid fa-heart" style="color: #FF8351;"></i>
  </div>
  <%= render "home_card_carousel", activities: @fav_activities, category: "favourites" %>
</div>

<div class="basic-card home-card">
  <div class="home-card-line">
    <p>Les Cool kids places du moment</p>
    <i class="fa-solid fa-star" style="color: #FFCC67;"></i>
  </div>
  <%= render "home_card_carousel", activities: @activities, category: "activities"  %>
</div>

<div class="basic-card btn-faq">
  <%= link_to "Découvrir Easyway - FAQ", faq_path, class: "btn-faq-link-txt" %>
  <%= image_tag "faq_empty.png", alt: "FAQ Icon", height: 16%>
</div>

