<div class= "card">

  <div class="image-card" 
    style="background-image: url(<%= activity.photo.attached? ? cl_image_path(activity.photo.key) : asset_path('icone_images.png') %>)">
  </div>
  <h1><%= activity.name %></h1>
  <p><%= activity.category %></p>
  <p><%= activity.stroller %></p>
  <p><%= activity.kids_friendly %></p>
  <p><%= activity.high_chair %></p>
  <p><%= activity.changing_table %></p>

</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

