<%# carte détails sur l'accessibilité de l'activité %>
<div class="card-activity-accessibility">

  <%# public transport %>
  <div class="card-activity-accessibility-category">
    <% if @activity.public_transport  %>
      <%= image_tag "bus_ok.png" %>
      <p><%= @activity.public_transport_detail %></p>
    <% else %>
      <%= image_tag "bus_nok.png" %>
      <p class="no-access-info">Pas d'informations sur les transports en commun.</p>
    <% end %>
  </div>

  <%# car park %>
  <div class="card-activity-accessibility-category">
    <% if @activity.car_park %>
      <%= image_tag "car_ok.png" %>
      <p><%= @activity.car_park_detail %></p>
    <% else %>
      <%= image_tag "car_nok.png" %>
      <p class="no-access-info">Pas d'informations sur l'accès en voiture.</p>
    <% end %>
  </div>

  <%# bike park%>
  <div class="card-activity-accessibility-category">

    <% if @activity.bike_park  %>
      <%= image_tag "velo_ok.png" %>
      <p><%= @activity.bike_park_detail %></p>
    <% else %>
      <%= image_tag "velo_nok.png" %>
      <p class="no-access-info">Pas d'informations sur l'accès en vélo.</p>
    <% end %>
  </div>

</div>
