<%# carte présentation de l'activité : nom, icones, ... %>
<div class="card-activity-name">
  <h2><%= activity.name.capitalize %></h2>
  <p><%= activity.category %></p>

  <div class="card-product-infos">
    <%= activity.stroller ? image_tag('stroller_ok.png', height: 40) : image_tag('stroller_nok.png', height: 40) %>
    <%= activity.changing_table ? image_tag('changing_table_ok.png', height: 40) : image_tag('changing_table_nok.png', height: 40) %>
    <%= activity.high_chair ? image_tag('high_chair_ok.png', height: 40) : image_tag('high_chair_nok.png', height: 40) %>
    <%= activity.kids_friendly ? image_tag('kids_friendly_ok.png', height: 40) : image_tag('kids_friendly_nok.png', height: 40) %>
  </div>

</div>
