<%# description %>
<p class="card-activity-details-text"><%= @activity.description %></p>

<%# carte détails de l'activité : addresse, téléphone, website, ... %>
<div class="card-activity-details"
data-controller="copy-to-clipboard"
data-copy-to-clipboard-address-text-value="Addresse copiée!"
data-copy-to-clipboard-phone-text-value="Numéro de téléphone copié!">

  <%# addresse %>
  <div class="container-info"
    data-action="click->copy-to-clipboard#copyAddress">
    <i class="fa-solid fa-location-dot" style="color: #3D5555;"></i>
    <p data-copy-to-clipboard-target="address"><%= @activity.address %></p>
  </div>

  <%# téléphone %>
  <div class="container-info"
  data-action="click->copy-to-clipboard#copyPhoneNumber">
    <i class="fa-solid fa-phone" style="color: #3D5555;"></i>
    <p data-copy-to-clipboard-target="phone"><%= @activity.phone_number %></p>
  </div>

  <%# url site web %>
  <div class="container-info">
    <i class="fa-solid fa-globe" style="color: #3D5555;"></i>
    <a href="<%= @activity.url %>" target="_blank" style="text-decoration: none;"><p><%= @activity.url %></p></a>
  </div>

</div>
