<%# carte détails sur l'accessibilité de l'activité %>
<div class="card-activity-accessibility">

  <%# public transport %>
  <div class="card-activity-accessibility-category">
      <i class="fa-solid fa-bus-simple" style="color: <%= $darkgreen %>"></i>
    <% if @activity.public_transport  %>
      <p><%= @activity.public_transport_detail %></p>
    <% else %>
      <p>Pas d'informations sur les transports en commun.</p>
    <% end %>
  </div>

  <%# car park %>
  <div class="card-activity-accessibility-category">
    <i class="fa-solid fa-car" style="color: <%= $darkgreen %>"></i>
    <% if @activity.car_park %>
      <p><%= @activity.car_park_detail %></p>
    <% else %>
      <p>Pas d'informations sur l'accès en voiture.</p>
    <% end %>
  </div>

  <%# bike park%>
  <div class="card-activity-accessibility-category">
    <i class="fa-solid fa-person-biking" style="<%= $darkgreen %>"></i>
    <% if @activity.bike_park  %>
      <p><%= @activity.bike_park_detail %></p>
    <% else %>
      <p>Pas d'informations sur l'accès en vélo.</p>
    <% end %>
  </div>

</div>
