<%# titre de la page %>
<h1>Trouver une activité</h1>

<%# search tab %>
<%= render "activities/search_card" %>


<%# map %>
<div id="map-container"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%# affichage du nb de résultats %>
<p style="color: <%= $darkgreen %>"><%= @activities.size %> résultats correspondent à votre recherche.</p>

<%# liste des activités %>
<% @activities.each do |activity|%>
  <%# affichage de la card activity %>
  <div>
    <%= render "activities/activity_card", activity: activity %>
  </div>
<% end %>
