<%# bouton "go back" %>
<div id="align-fleche-activity">
  <%= link_to activities_path do %>
    <%= image_tag "go_back_arrow_white.png", alt: "Retour", class:"go-back-btn" %>
  <% end %>

  <div id="activity-new-title">
    <h1>Ajouter une activité</h1>
  </div>
</div>

<div class="basic-card card-new-activity">
  <div class="sub-card-new-activity col-sm-8" >
    <%= form_with model: @activity, class: "d-flex flex-column", data: { controller: "fields-for" } do |f| %>

      <%# champs texte pour enregistrer un nom %>
      <div class="new-activity-tab-field new-activity-top-tab-field">
        <%= f.text_field :name,
          # params[:name],
          class: "form-control",
          placeholder: "Crêperie enchantée..."
        %>
      </div>

      <%# champs texte pour enregistrer une addresse %>
      <div class="new-activity-tab-field new-activity-top-tab-field">
        <%= f.text_field :address,
          # params[:address],
          class: "form-control",
          placeholder: "7 rue enchantée..."
        %>
      </div>

      <%# champs collection pour sélectionner la catégorie %>
      <div class="new-activity-tab-field new-activity-top-tab-field">
        <%= f.select :category,
          options_for_select(Activity::ACTIVITY_CATEGORY, params[:category]),
          class: 'form-control',
          prompt: 'Sélectionner une activité...'
        %>
      </div>

      <%# champs texte pour enregistrer une description %>
      <div class="new-activity-tab-field-description new-activity-top-tab-field" data-controller="character-count-activity" data-character-count-activity-nb-value="<%= Activity::DESCRIPTION_MAX %>">
        <%= f.text_area :description,
          # params[:description],
          class: "form-control",
          placeholder: "Une crêperie magique avec des crêpes aux formes amusantes et des garnitures colorées. Les enfants peuvent créer leurs propres crêpes et participer à des ateliers de décoration...",
          data: { target: "character-count-activity.text", action: "keyup->character-count-activity#updateCounter"}
        %>
        <p data-character-count-activity-target="counter"></p>
      </div>

      <div class="checkbox-row">
        <%# champs checkbox (booléen) pour sélectionner le filtre accès poussette %>
        <div class="new-activity-tab-field">
          <%= f.check_box :stroller,
            # "1",
            # params[:stroller],
            class: "form-check-input",
            id: "checkbox1"
          %>
          <%= label_tag :stroller,
            "",
            for: "checkbox1"
          %>
        </div>

        <%# champs checkbox (booléen) pour sélectionner le filtre table à langer %>
        <div class="new-activity-tab-field">
          <%= f.check_box :changing_table,
            # "1",
            # params[:changing_table],
            class: "form-check-input",
            id: "checkbox2"
          %>
          <%= label_tag :changing_table,
            "",
            for: "checkbox2"
          %>
        </div>

        <%# champs checkbox (booléen) pour sélectionner le filtre chaise haute %>
        <div class="new-activity-tab-field">
          <%= f.check_box :high_chair,
            # "1",
            # params[:high_chair],
            class: "form-check-input",
            id: "checkbox3"
          %>
          <%= label_tag :high_chair,
            "",
            for: "checkbox3"
          %>
        </div>

        <%# champs checkbox (booléen) pour sélectionner le filtre kids friendly %>
        <div class="new-activity-tab-field">
          <%= f.check_box :kids_friendly,
            # "1",
            # params[:kids_friendly],
            class: "form-check-input",
            id: "checkbox4"
          %>
          <%= label_tag :kids_friendly,
            "",
            for: "checkbox4"
          %>
        </div>
      </div>

      <h5>Caractéristiques :</h5>

      <div class="checkbox-row">
        <%# champs checkbox (booléen) pour sélectionner le filtre accès transport en commun %>
        <div class="new-activity-tab-field">
          <%= f.check_box :public_transport,
            # "1",
            # params[:public_transport],
            class: "form-check-input",
            id: "checkbox5",
            data: {action: "click->fields-for#hide_checkbox5", target: "fields-for.checkbox5"}
          %>
          <%= label_tag :public_transport,
            "",
            for: "checkbox5"
          %>
        </div>

        <%# champs checkbox (booléen) pour sélectionner le filtre accès voiture %>
        <div class="new-activity-tab-field">
          <%= f.check_box :car_park,
            # "1",
            # params[:car_park],
            class: "form-check-input",
            id: "checkbox6",
            data: {action: "click->fields-for#hide_checkbox6", target: "fields-for.checkbox6"}
          %>
          <%= label_tag :car_park,
            "",
            for: "checkbox6"
          %>
        </div>

        <%# champs checkbox (booléen) pour sélectionner le filtre accès vélo %>
        <div class="new-activity-tab-field">
          <%= f.check_box :bike_park,
            # "1",
            # # params[:bike_park],
            class: "form-check-input",
            id: "checkbox7",
            data: {action: "click->fields-for#hide_checkbox7", target: "fields-for.checkbox7"}
          %>
          <%= label_tag :bike_park,
            "",
            for: "checkbox7"
          %>
        </div>
      </div>

      <%# champs texte pour enregistrer des détails sur l'accès en transport en commun %>
      <div class="new-activity-tab-field">
        <%= f.text_field :public_transport_detail,
          # params[:public_transport_detail],
          class: "form-control",
          placeholder: "Bus: Ligne 42, arrêt 'Contes de Fées'...",
          data: {target: "fields-for.field5"},
          style: "display: none"
        %>
      </div>

      <%# champs texte pour enregistrer des détails sur l'accès en voiture %>
        <div class="new-activity-tab-field">
          <%= f.text_field :car_park_detail,
            # params[:car_park_detail],
            class: "form-control",
            placeholder: "Parking payant à proximité...",
            data: {target: "fields-for.field6"},
            style: "display: none"
          %>
        </div>

      <%# champs texte pour enregistrer des détails sur l'accès en vélo %>
      <div class="new-activity-tab-field">
        <%= f.text_field :bike_park_detail,
          # params[:bike_park_detail],
          class: "form-control",
          placeholder: "Arceaux à vélos devant le restaurant...",
          data: {target: "fields-for.field7"},
          style: "display: none"
        %>
      </div>

      <div class="checkbox-row">
        <%# champs checkbox (booléen) pour sélectionner le filtre accès transport en commun %>
        <div class="new-activity-tab-field">
          <%= f.check_box "url_box",
            # "1",
            # params[:url],
            class: "form-check-input",
            id: "checkboxUrl",
            data: {action: "click->fields-for#hide_checkboxUrl", target: "fields-for.checkboxUrl"}
          %>
          <%= label_tag "url_box",
            "",
            for: "checkboxUrl"
          %>
        </div>

        <%# champs checkbox (booléen) pour sélectionner le filtre accès voiture %>
        <div class="new-activity-tab-field">
          <%= f.check_box "phone_number_box",
            # "1",
            # params[:phone],
            class: "form-check-input",
            id: "checkboxPhone",
            data: {action: "click->fields-for#hide_checkboxPhone", target: "fields-for.checkboxPhone"}
          %>
          <%= label_tag "phone_number_box",
            "",
            for: "checkboxPhone"
          %>
        </div>

        <%# champs checkbox (booléen) pour sélectionner le filtre accès vélo %>
        <div class="new-activity-tab-field">
          <%= f.check_box "photo_box",
            # "1",
            # # params[:photo],
            class: "form-check-input",
            id: "checkboxPhoto",
            data: {action: "click->fields-for#hide_checkboxPhoto", target: "fields-for.checkboxPhoto"}
          %>
          <%= label_tag "photo_box",
            "",
            for: "checkboxPhoto"
          %>
        </div>
      </div>


      <%# champs checkbox (booléen) pour ajouter un lien vers un site web %>
      <%# <div class="new-activity-tab-field">
        <input type="checkbox" class="toggleUrl" id="AddUrl" name="AddUrl" data-action="click->fields-for#hide_checkboxUrl" data-fields-for-target="checkboxUrl"/>
        <label for="AddUrl">Site web</label>
      </div> %>

      <%# champs texte pour enregistrer un lien vers un site web %>
      <div class="new-activity-tab-field">
        <%= f.text_field :url,
          # params[:url],
          class: "form-control",
          placeholder: "www...",
          data: {target: "fields-for.fieldUrl"},
          style: "display: none"
        %>
      </div>

      <%# champs texte pour enregistrer un numéro de téléphone %>
      <div class="new-activity-tab-field">
        <%= f.text_field :phone_number,
          # params[:phone_number],
          class: "form-control",
          placeholder: "XX XX XX XX XX...",
          data: {target: "fields-for.fieldPhone"},
          style: "display: none"
        %>
      </div>

      <%# champs texte pour enregistrer un numéro de téléphone %>
      <div class="new-activity-tab-field">
        <%= f.file_field :photo,
          # params[:phone_number],
          class: "form-control",
          
          data: {target: "fields-for.fieldPhoto"},
          style: "display: none"
        %>
      </div>

      <%# bouton de validation %>
      <%= f.submit "Ajouter !", class: "yellowbtn" %>
    <% end %>

</div>
