<!DOCTYPE html>
<html>
  <head>
    <title>Easyway, Trouver des lieux baby & kids friendly n'a jamais été aussi facile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= render 'shared/ios_pwa_links' %>
    <link  rel= "icon"  type= "image/png"  sizes= "192x192"   href= "/android-icon-192x192.png" >
    <link  rel= "icon"  type= "image/png"  sizes= "32x32"  href= "/favicon-32x32.png" >
    <link  rel= "icon"  type= "image/png"  sizes= "96x96"  href= "/favicon-96x96.png" >
    <link  rel= "icon"  type= "image/png"  sizes= "16x16"  href= "/favicon-16x16.png" >
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <meta  name= "msapplication-TileColor"  content= "#ffffff" >
    <meta  name= "msapplication-TileImage"  content= "/ms-icon-144x144.png" >
    <meta  name= "theme-color"  content= "#ffffff" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body>
    <%# pas besoin de navbar %>
    <%# <%= render "shared/navbar" %>

    <%# pour les notifications %>
    <%= render "shared/flashes" %>

    <%# contenu des pages à afficher %>
    <div class="container-body">
      <%= yield %>
    </div>

    <%# footer : barre de navigation %>
    <%= render "shared/footer" %>
  </body>
</html>
